:root {
  font-family: Helvetica;
  /* background-color: #242424; */
}

html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

body {
  background-color: #7e7e7e;
}

.inner-wrap {
  padding: 1rem 2rem;
}

a {
  font-weight: 600;
  text-decoration: none;
}
a:visited {
  color: black;
}
